{% include base_path %}

<style>
    .page__footer {
      background-color: #274865; /* Footer background color */
      color: white; /* Text color in the footer */
      border-top: 1px solid #fff;
    }

    .page__footer footer {
      margin-left: 100px;
      padding-left: 0em;
      padding-right: 0em;
    }

    @media only screen and (max-width: 768px) { /* This targets screens with a width of 768px or less */
      .page__footer footer {
        margin-left: 20px; /* This modifies the left margin on mobile */
      }
    }

  </style>

<div class="footer">
  {{ site.time | date: '%Y' }} | Ross Edwards | ross@edwardsnetwork.com
</div>
