{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<style>
  .masthead {
    background-color: #274865; /* Header background color */
    color: white; /* Text color in the header */
  }

  .masthead__menu {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    list-style: none; /* Remove default list styling */
  }

  .masthead__menu-item {
    display: inline-block; /* Display list items horizontally */
    margin-right: 10px; /* Adjust spacing between list items as needed */
  }

  .masthead__menu-item a {
    background-color: #274865; 
    color: white; /* Text color for links in the navigation bar */
    text-decoration: none; /* Remove underlines from links */
  }
</style>
