{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>

<style>
  .masthead {
    background-color: #274865; /* Header background color */
    color: white; /* Text color in the header */
  }

  .masthead__menu-item a {
    background-color: #274865; /* Header background color */
    color: white; /* Text color in the header */
  }


  /* Reset margins and padding */
  .masthead__menu-item, .masthead__menu-item--lg, .visible-links {
    margin: 0;
    padding: 0;
  }

  /* Ensure list items fill the horizontal space */
  .visible-links {
    display: flex; /* or 'grid' if using a grid layout */
    justify-content: space-between; /* Adjust as needed */
  }

  /* If you are using a grid layout */
  .visible-links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Adjust minmax as needed */
    gap: 0; /* Adjust or remove gap as needed */
  }

</style>

